#slider {float:left; position:relative; overflow:auto; width:400px; height:400px; background:#fff}
#slider ul {position:absolute; list-style:none; top:0; left:0; margin:0; padding:0}
#slider li {float:left; width:400px; height:400px}

.pagination {float:left; list-style:none; height:25px; margin:15px 0 0 32px}
.pagination li {float:left; cursor:pointer; padding:5px 8px; background:#666; border:1px solid #999; margin:0 4px 0 0; text-align:center; color:#222}
.pagination li:hover {background:#777; border:1px solid #bbb; color:#000}
li.current {border:1px solid #ccc; background:#888}

li#content {width:400px; height:400px; padding:0}
#content h1 {font:22px Georgia,Verdana; margin-bottom:15px; color:#036}