@charset "utf-8";
@font-face { 
font-family:'Nanum Gothic';
src: url('http://localhost:8090/Doraedodam/css/NanumGothic.eot'); /* IE 4-8 */
src: url('http://localhost:8090/Doraedodam/css/NanumGothic.eot?') format('eot'), /* IE 9 */ 
     url('http://localhost:8090/Doraedodam/css/NanumGothic.eot?#iefix') format('embedded-opentype'),
     url('http://localhost:8090/Doraedodam/css/NanumGothic.woff') format('woff'); /* IE 9, Firefox 3.6+, Chrome 6+ */
}
td{text-align:center}
body {font-family:'Nanum Gothic','나눔고딕'; overflow-y:scroll;}
tr{height:40px}
table{width:504px}
#name1 {background-color:#ffecbf}
#name2 {background-color:#fdd4e4}
#name3 {background-color:#bdf1e3}
#name4 {background-color:#d7deff}
a{text-decoration:none; color:black}