@charset "utf-8";
@font-face { 
font-family:'Nanum Gothic2';
src: url('NanumGothic.eot'); /* IE 4-8 */
src: url('NanumGothic.eot?') format('eot'), /* IE 9 */ 
     url('NanumGothic.eot?#iefix') format('embedded-opentype'),
     url('NanumGothic.woff') format('woff'); /* IE 9, Firefox 3.6+, Chrome 6+ */
}
@keyframes bounce {
    0% {top: 0px;}
    50% {top: -5px;}
    100% {top: 0px;}
}
#STATICMENU { margin: 0; padding: 0;  position: absolute}
li {display:inline-block; list-style:none; margin-left:0px}
body {font-family:'Nanum Gothic','나눔고딕','Apple SD Gothic Neo',arial,sans-serif; overflow-x:hidden; overflow-y:scroll; margin:8px 0 0 0}
body, input, textarea, select, p, font, a, div {outline:0; font-family:'Nanum Gothic','나눔고딕', 'Apple SD Gothic Neo',arial,sans-serif; text-decoration:none}
.table_basic {border:0px #000000 solid; border-collapse:collapse}
.div {width:100%}
.divWid {width:800px}
.topNavi font, .topNavi a {color:#000000; text-decoration:none; font-size:17px}
.topNavi font:hover, .topNavi a:hover {color:#0e7534}
.mainMenu font {font-size:21px;font-weight:bold; color:#646464; text-decoration:none}
.mainMenu font:hover {font-size:21px; font-weight:bold; color:#0f7735; text-decoration:none}
#mainMenuLine {font-size:23px; color:#646464}
.indexContents {background-color:#ffffff}
#indexListing {font-size:21px; color:#332c29}
#indexListingInfo {font-size:13px; color:#898989}
.mainPageName {font-size:16px; color:#000000; text-decoration:none; margin-top:20px}
.mainPageInfo {font-size:12px; color:#000000; text-decoration:none; margin-top:2px}
.mainPagePrice {font-size:16px; color:#0e7534; font-weight:bold; text-decoration:none; margin-top:10px}
#product-wrap2 .mainPageName {font-size:14px; color:#000000; text-decoration:none; margin-top:20px}
#product-wrap2 .mainPageInfo {font-size:11px; color:#000000; text-decoration:none; margin-top:2px}
#product-wrap2 .mainPagePrice {font-size:14px; color:#0e7534; font-weight:bold; text-decoration:none; margin-top:10px}
.divWid3 {width:550px; height:337px}
.logOption {color:#c9c9c9; font-size:15px; text-decoration:none}
.logOption:hover {color:#0e7534}
.categoryTd a {color:#646464; text-decoration:none; font-size:15px}
.categoryTd a:hover {color:#2c8a05}
#product-wrap ul > li {vertical-align:top; float:left; width:186px; margin-left:8px; margin-right:8px}
#product-wrap ul {float:left; display:inline-block; padding-left:0px}
#product-wrap2 ul > li {vertical-align:top; float:left; width:148.5px; margin-left:6px; margin-right:6px}
#product-wrap2 ul {float:left; display:inline-block; padding-left:0px}
.goodsDetail ul {width:100%; float:left; display:inline-block; padding-left:0px; margin-top:0px; margin-bottom:0px;width: 100%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px); padding-left:0}
.goodsDetail ul > li {vertical-align:top; float:left; width:50%}
#prdList {display:table; width:100%; min-width:816px; margin:0; font-size:0; line-height:0px}
#liList {margin-bottom:54px; text-align:center}
.hrDiv {width:800px; height:0.9px; margin-top:1px; background-color:#acacac}
.goodsInfo font{font-size:14px}
.goodsInfo td{padding-left:20px; padding-top:7px; padding-bottom:7px}
.goodsBtn {width:126px; height:50px; border:0; color:#ffffff; border-radius:4px; font-size:17px; font-family:'Nanum Gothic','나눔고딕','Apple SD Gothic Neo',arial,sans-serif}
#preFont {font-family:'Nanum Gothic','나눔고딕','Apple SD Gothic Neo',arial,sans-serif; font-size:15px; margin-top:20px}
.content {width:800px; height:1px; margin-top:0px; background:#cbcbcb}
.content-table td {font-size:12px; letter-spacing:-0.4px; color:#000000; text-decoration:none}
.content-table a {color:#000000; text-decoration:none}
.content-table a:hover {color:#389101; text-decoration:none}
.content-table {text-align:center; border-collapse:collapse; border-color:#cbcbcb; border-top:#cbcbcb; border-bottom:#cbcbcb; margin-top:6px}
.mypageBtn {font-size:12px; letter-spacing:-0.4px}
.table-line {background-image:url('../images/line.jpg'); background-repeat:no-repeat; background-size:1px 12px; background-position-y:14px}
.processImg {margin-top:7px; border:1px solid; border-color:#cbcbcb; margin-bottom:40px}
.orderInfo td{font-size:12px; letter-spacing:-0.4px}
.orderInfoContent td{padding-top:13px; padding-left:6px; padding-right:10px; padding-bottom:13px}
.pointInfo td{font-size:14px; letter-spacing:-0.7px}
table.content-table tbody tr.cartPrice td{font-size:17px; letter-spacing:-0.8px}
.goodsBtnTbl td{padding:0px}
.goodsBtnTbl form{width:126px}
.orderInfo input{font-family:'Nanum Gothic','나눔고딕','Apple SD Gothic Neo',arial,sans-serif; padding-left:3px; padding-right:3px; font-size:12px}
.paging-list ol {display:inline-flex; padding:0px; margin:0px}
.paging-list li {border:1px solid #e5e5e5; margin-left:-1px}
.paging-list li:hover {background-color:#f2f2f2}
.paging-list a {width:31px; height:30px; text-decoration:none; color:black; vertical-align:middle; display:block; line-height:30px; font-size:10px}
#arrowNext {opacity:0.3; padding-bottom:2px}
#arrowNext:hover {opacity:0.5; padding-bottom:2px}
.myQna span {width:66px; height:20px; display:block; border-radius:12px; padding-top:4px}
.myQna span.statusY {border:0.6px solid #f13748; color:#f13748}
.myQna span.statusN {border:0.6px solid #aaa; color:#666}
.myQna span.reply {border:0.6px solid #616161; color:#616161}
.gnb {margin-top:-8px}
.gnb li {font-size:12px; color:#666; padding-top:6px; display: list-item}
.gnb a {color:#666}
.gnb a:hover {color:#86b999}
#regiSuccess {animation: bounce 0.5s infinite;transition:top 0.25s}
div #orderForm input {border-style:solid; border-width:1px; border-color:#cbcbcb; height:26px; padding-left:7px; padding-right:7px}
div #mypageOrderDtl input {border-style:solid; border-width:1px; border-color:#cbcbcb; height:26px; padding-left:7px; padding-right:7px; border:0px}
#naviBar {background-color:white}
table#dropDownMenu td {padding-top:10px}